.jumbotron{
    background-image:url("http://www.52dazhew.com/data/out/171/586933760-nice-background-wallpaper.jpg" );
}
#fifth-p p{
    text-align: center;
    transform: translate(0%,50%);
    font-size: 40px;
}
.well{
    background-color: bisque;
}
#fifth-p{
    visibility: hidden;
    background-color: burlywood;
    height:300px;
}
.panel{
    background-color:darkolivegreen;
    background-size: contain; 
    position: relative;
}